[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
biolinkml = {editable = true,path = "./../../biolink/biolinkml"}
rdflib = "~=5.0"
rdflib-jsonld = "*"

[pipenv]
