[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
biolinkml = {editable=true, git="https://github.com/biolink/biolinkml.git", ref="tccm_fixes"}
rdflib = "~=5.0"
rdflib-jsonld = "*"

[pipenv]
